.account-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 12rem;
  width: 12rem;
  margin: 2rem;
}

.account-form {
  backdrop-filter: blur(0.5rem);
  background: var(--background-dark-blue);
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: var(--main-shadow);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  margin: 1rem;
  max-height: 40rem;
  max-width: 30rem;
  padding: 2rem;
  width: 100%;
}

@media (max-width: 600px) {
  .account-form {
    border-radius: 0;
    padding: 1rem;
  }
}
