.activity-tracker {
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  width: -webkit-fill-available;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 600px) {
  .activity-tracker {
    padding: 0.5rem 0;
  }
}
