:root {
  --black: #020b13;
  --dark-blue: #243c4f;
  --darker-blue: #393cef;
  --grey: #757575;
  --lighter-blue: #adc6e3;
  --light-blue: #32e7ff;
  --lightest-blue: #e7eff6;
  --green: #1fd246;
  --white: #f9fcff;
  --red: #ff1616;
  --light-red: #f84848;
}
