.main-label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 0.3rem 0;
  text-align: start;
}

.main-label label {
  margin: 0.5rem 0;
}

.negative-top-margin {
  margin-top: -0.5rem;
}
