.main-text-area {
  border: solid 0.1rem #bdbdbd;
  font-size: 1rem;
  font-weight: 600;
  height: 7rem;
  padding: 0.3rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--dark-blue);
}

.main-text-area::placeholder {
  font-weight: 100;
}

.show-invalid {
  border-color: var(--red);
  box-shadow: 0 0 0.5rem 0 var(--red);
}

.show-invalid:focus {
  outline-color: var(--light-red);
}
