.main-text-area {
  background: transparent;
  border-radius: 0.3rem;
  border: solid 0.1rem var(--white);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  height: 7rem;
  padding: 0.3rem;
  width: 18rem;
}

.main-text-area::placeholder {
  color: var(--lightest-blue);
  font-weight: 100;
}

.show-invalid {
  border-color: var(--red);
  box-shadow: 0 0 0.5rem 0 var(--red);
}

.show-invalid:focus {
  outline-color: var(--light-red);
}
