body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #f9fcff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #12134c;
  background: url(images/background.jpg);
  background-size: cover;
  min-height: 65rem;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}

*:focus {
  outline-color: var(--darker-blue);
}
